<p style="color: green"><%= notice %></p>

<h1>Not Twitter</h1>

<%= link_to "New tweet", new_tweet_path, class: "btn btn-primary my-3" %>

<%= form_with url: tweets_path, method: :get do |form| %>
  <%= form.text_field :query_text, placeholder: 'Search tweets by user', value: params[:query_text]%>
<% end %>

<div id="tweets" class="row row-cols-1 row-cols-lg-2">
  <% @tweets.each do |tweet| %>
    <div class="col align-self-center">
      <%= render tweet %>
        <div class="card-footer">
          <%= link_to "Show this tweet", tweet, class: "card-link" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%== render partial: 'pagy_bootstrap', locals: {pagy: @pagy} if @pagy.pages > 1 %>
